.game {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
}

.game__header {
  display: flex;
  flex-direction: column;
}

.game__footer {
  display: flex;
  justify-content: flex-end;
}

.game__game-over {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 24px;
  background-color: #202020;
}

.game-over__title {
  color: white;
}